<!DOCTYPE html>
<html>
    <head>
        <title>Advanced React Application Example</title>
    </head>
    <body>
        <!--We will load static content here and then React will take over-->
        <div id="root"> <%- initialContent -%></div>

        <script src="/bundle.js" charset="utf-8"></script>
    </body>
</html>